In [2]:
# 读写文本格式的数据
## Pandas提供了大量函数将表格性数据读取维DataFrame对象

In [3]:
## 将文本数据转换为DataFrame时采用的一些技术
## 索引、类型推断和数据转换、日期解析、迭代、不规则数据问题

In [4]:
!cat pydata-book-master/ch06/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [5]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [6]:
df = pd.read_csv('pydata-book-master/ch06/ex1.csv')

In [7]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [9]:
pd.read_table('pydata-book-master/ch06/ex1.csv',sep =',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [10]:
## 并不是所有的文件都有标题行，那么需要这么处理

In [11]:
!cat pydata-book-master/ch06/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [12]:
pd.read_csv('pydata-book-master/ch06/ex2.csv', header = None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [13]:
pd.read_csv('pydata-book-master/ch06/ex2.csv', names = ['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [14]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv('pydata-book-master/ch06/ex2.csv', names = names, index_col = 'message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [15]:
## 如果要把多个列做成一个层次化索引

In [16]:
!cat pydata-book-master/ch06/csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [17]:
paresd = pd.read_csv('pydata-book-master/ch06/csv_mindex.csv', index_col = ['key1', 'key2'])

In [18]:
paresd

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [19]:
##  有些表格并不是使用固定的分隔符来分割字符，所以就需要我们编写一个正则表达式来作为read_table的分隔符

In [20]:
!cat pydata-book-master/ch06/ex3.txt

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [21]:
pd.read_table('pydata-book-master/ch06/ex3.txt', sep = ' ')

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,B,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,C
0,aaa,-0.264438,-1.026059,-0.619500,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,bbb,NaN,0.927272,NaN,0.302904,-0.032399,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ccc,-0.264273,-0.386314,-0.217601,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ddd,-0.871858,-0.348382,NaN,1.100491,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
## 上面的情况是因为使用了不定的空格，这就需要我们编写正则表达式

In [23]:
pd.read_table('pydata-book-master/ch06/ex3.txt', sep = '\s+')

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [24]:
!cat pydata-book-master/ch06/ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [25]:
pd.read_csv('pydata-book-master/ch06/ex4.csv', skiprows = [0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [26]:
!cat pydata-book-master/ch06/ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [28]:
df = pd.read_csv('pydata-book-master/ch06/ex5.csv')

In [29]:
df

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [30]:
pd.isnull(df)

  something      a      b      c      d message
0     False  False  False  False  False    True
1     False  False  False   True  False   False
2     False  False  False  False  False   False

In [31]:
df = pd.read_csv('pydata-book-master/ch06/ex5.csv', na_values = ['NULL'])
df

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [32]:
## 可以使用一个字典为各列指定不同的NA标记值

In [33]:
sentinels = {'message':['foo', 'NA'], 'something':['two']}

In [34]:
pd.read_csv('pydata-book-master/ch06/ex5.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [35]:
### 具体更多参数在Page167

In [2]:
# 逐块读取文本文件
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
result = pd.read_csv('pydata-book-master/ch06/ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
5     1.817480  0.742273  0.419395 -2.251035   Q
6    -0.776764  0.935518 -0.332872 -1.875641   U
7    -0.913135  1.530624 -0.572657  0.477252   K
8     0.358480 -0.497572 -0.367016  0.507702   S
9    -1.740877 -1.160417 -1.637830  2.172201   G
10    0.240564 -0.328249  1.252155  1.072796   8
11    0.764018  1.165476 -0.639544  1.495258   R
12    0.571035 -0.310537  0.582437 -0.298765   1
13    2.317658  0.430710 -1.334216  0.199679   P
14    1.547771 -1.119753 -2.277634  0.329586   J
15   -1.310608  0.401719 -1.000987  1.156708   E
16   -0.088496  0.634712  0.153324  0.415335   B
17   -0.018663 -0.247487 -1.446522  0.750938   A
18   -0.070127 -1.579097  0.120892  0.671432   F
19   -0.194678 -0.492039  2.359605  0.319810   H
20   -0.248618  0.868707 -0.492226 -0.717959   W
21   -1.091549 -0.867110 -0.647760 -0.832562   C
22    0.641404 -0.138822 -0.621963 -0.284839   C
23    1.216408  0.992687  0.165162 -0.069619   V
24   -0.564474  0.792832  0.747053  0.571675   I
25    1.759879 -0.515666 -0.230481  1.362317   S
26    0.126266  0.309281  0.382820 -0.239199   L
27    1.334360 -0.100152 -0.840731 -0.643967   6
28   -0.737620  0.278087 -0.053235 -0.950972   J
29   -1.148486 -0.986292 -0.144963  0.124362   Y
...        ...       ...       ...       ...  ..
9970  0.633495 -0.186524  0.927627  0.143164   4
9971  0.308636 -0.112857  0.762842 -1.072977   1
9972 -1.627051 -0.978151  0.154745 -1.229037   Z
9973  0.314847  0.097989  0.199608  0.955193   P
9974  1.666907  0.992005  0.496128 -0.686391   S
9975  0.010603  0.708540 -1.258711  0.226541   K
9976  0.118693 -0.714455 -0.501342 -0.254764   K
9977  0.302616 -2.011527 -0.628085  0.768827   H
9978 -0.098572  1.769086 -0.215027 -0.053076   A
9979 -0.019058  1.964994  0.738538 -0.883776   F
9980 -0.595349  0.001781 -1.423355 -1.458477   M
9981  1.392170 -1.396560 -1.425306 -0.847535   H
9982 -0.896029 -0.152287  1.924483  0.365184   6
9983 -2.274642 -0.901874  1.500352  0.996541   N
9984 -0.301898  1.019906  1.102160  2.624526   I
9985 -2.548389 -0.585374  1.496201 -0.718815   D
9986 -0.064588  0.759292 -1.568415 -0.420933   E
9987 -0.143365 -1.111760 -1.815581  0.435274   2
9988 -0.070412 -1.055921  0.338017 -0.440763   X
9989  0.649148  0.994273 -1.384227  0.485120   Q
9990 -0.370769  0.404356 -1.051628 -1.050899   8
9991 -0.409980  0.155627 -0.818990  1.277350   W
9992  0.301214 -1.111203  0.668258  0.671922   A
9993  1.821117  0.416445  0.173874  0.505118   X
9994  0.068804  1.322759  0.802346  0.223618   H
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [4]:
pd.read_csv('pydata-book-master/ch06/ex6.csv', nrows= 5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [5]:
#  逐块读取文件，需要设置chunksize（行数）
chunker = pd.read_csv('pydata-book-master/ch06/ex6.csv', chunksize= 1000)

In [6]:
chunker

In [7]:
chunker = pd.read_csv('pydata-book-master/ch06/ex6.csv', chunksize = 1000)
tot = Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value = 0)
tot = tot.sort_values(ascending = False)

In [8]:
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

In [9]:
#  将数据写出到文本格式

In [10]:
data = pd.read_csv('pydata-book-master/ch06/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [11]:
data.to_csv('pydata-book-master/ch06/out.csv')

In [12]:
!cat pydata-book-master/ch06/out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [13]:
import sys
data.to_csv(sys.stdout, sep = '|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [14]:
data.to_csv(sys.stdout, na_rep = 'NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [15]:
data.to_csv(sys.stdout, index = False, header = False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [16]:
###########   为什么呀
data.to_csv(sys.stdout, index = False, cols=['a', 'b', 'c'])

TypeError: to_csv() got an unexpected keyword argument 'cols'

In [17]:
dates = pd.date_range('1/1/2000', periods= 7)
ts = Series(np.arange(7), index = dates)
ts

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
Freq: D, dtype: int64

In [18]:
ts.to_csv('pydata-book-master/ch06/tseries.csv')

In [19]:
!cat pydata-book-master/ch06/tseries.csv

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

In [20]:
Series.from_csv('pydata-book-master/ch06/tseries.csv', parse_dates=True)

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
dtype: int64

In [21]:
# 手工处理分割符格式

In [22]:
#读取MS excel文件

In [23]:
## pandas的ExcelFile类支持读取存储在Excel2003及更高版本的表格型数据

In [24]:
## 由于要用到   xlrd  以及   openpyxl  包  所以需要先安装

In [25]:
xls_file = pd.ExcelFile('data.xls')

In [26]:
table = xls_file.parse('Sheet1', header = None)

In [27]:
table

             0    1   2
0  liangzelang  170  60
1   wangxinran  168  48

In [29]:
# 手工处理分隔符格式

In [30]:
!cat pydata-book-master/ch06/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3","4"

In [34]:
import csv
f = open('pydata-book-master/ch06/ex7.csv')
reader = csv.reader(f)

In [36]:
for line in reader:
    print line

In [38]:
lines = list(csv.reader(open('pydata-book-master/ch06/ex7.csv')))
header, values = lines[0], lines[1:]
data_dict = {h : v for h, v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [39]:
# JSON数据

In [40]:
## JSON已经成为通过HTTP请求在web浏览器和其他应用程序之间发送数据的标准格式之一。是一种比表格型文本格式灵活的多的数据格式

In [43]:
obj = """
{
    "name": "Wes",
    "places_lived" : ['United States', 'Spain', 'Germany'],
    "pet": null,
    "siblings":[{"name": "Scott", "age": 25, "pet": "Zuko"},{"name": "Katie", "age": 33, "pet": "Cisco"}]

}"""

In [44]:
import json
result = json.loads(obj)

ValueError: No JSON object could be decoded

In [45]:
obj

'\n{\n    "name": "Wes",\n    "places_lived" : [\'United States\', \'Spain\', \'Germany\'],\n    "pet": null,\n    "siblings":[{"name": "Scott", "age": 25, "pet": "Zuko"},{"name": "Katie", "age": 33, "pet": "Cisco"}]\n\n}'

In [1]:
#  Web信息收集

In [2]:
from lxml.html import parse
from urllib2 import urlopen

In [5]:
pared = parse(urlopen('http://finance.yahoo.com/q/op?s=AAPL+Options'))
doc = parsed.getroot()

URLError: <urlopen error [Errno 111] Connection refused>

In [4]:
links = doc.findall('.//a')
links[15:20]

NameError: name 'doc' is not defined

In [6]:
# 二进制数据格式

In [7]:
import pandas as pd
from pandas import Series, DataFrame

In [8]:
frame = pd.read_csv('pydata-book-master/ch06/ex1.csv')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [9]:
frame.save('pydata-book-master/ch06/frame_pickle')

AttributeError: 'DataFrame' object has no attribute 'save'

In [10]:
## 这个属性换成 to_pickle了

In [11]:
frame.to_pickle('pydata-book-master/ch06/frame_pickle')

In [12]:
pd.load('pydata-book-master/ch06/frame_pickle')

AttributeError: 'module' object has no attribute 'load'

In [13]:
pd.read_pickle('pydata-book-master/ch06/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [14]:
# 使用HDF5格式

In [15]:
##  HDF5是一个流行的工业级库，支持各种语言接口。

In [16]:
## Python中有HDF5两个接口，他们各自采用不同方式（PyTables和h5py）, 采取了不同的
## 解决方法，h5py提供了一种直接尔高级的HDF5 API 访问接口， PyTables则抽象了HDF5的
## 很多细节提供多种灵活的数据容器、表索引、查询功能等
## pandas有一个最小化的类是与字典的HDFStore类，通过PyTables存储pandas对象

In [18]:
store = pd.HDFStore('pydata-book-master/mydata.h5')

In [19]:
store['obj1'] = frame

In [20]:
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [21]:
store['obj1_col'] = frame['a']
store

<class 'pandas.io.pytables.HDFStore'>
File path: pydata-book-master/mydata.h5
/obj1                frame        (shape->[3,5])
/obj1_col            series       (shape->[3])

In [22]:
store['obj1']

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [23]:
# 使用HTML和API

In [24]:
# 使用数据库

In [25]:
import sqlite3

In [26]:
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
c REAL, d INTEGER);"""

In [27]:
con = sqlite3.connect(':memory:')
con.execute(query)
con.commit()

In [28]:
data = [('Atlanta', 'Georgia', 1.25, 6),
           ('Tallahassee', 'Florida',2.6, 3),
           ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO tesT VALUES(?,?,?,?)"
con.executemany(stmt, data)
con.commit()

In [30]:
##  从表中读取数据时， 大部分Python  SQL驱动器（PyODBC, psycopy2,MySQLdb,pymssql）都会返回一个元祖列表

In [31]:
cursor = con.execute('select * from test')

In [32]:
rows = cursor.fetchall()

In [33]:
rows

[(u'Atlanta', u'Georgia', 1.25, 6),
 (u'Tallahassee', u'Florida', 2.6, 3),
 (u'Sacramento', u'California', 1.7, 5)]

In [34]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [35]:
DataFrame(rows, columns = zip(*cursor.description)[0])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [38]:
import pandas.io.sql as sql

In [39]:
sql.read_sql('select * from test', con)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5